.container {
    max-width: 940px;
    margin: auto;
}
/*  header  */
header {
    min-height: 137px;
    padding: 35px 0;
    background: linear-gradient(#d5d5d5, #fff, #fff, #fff, #fff);
}

nav {
    text-align: center;
}

nav ul li {
    font: .68em Tahoma;
    color: #b7b7b7;
    padding: 5px 0;
}

nav ul li a {
    font: bold .87rem Georgia;
    color: #666;
    display: block;
    text-transform: uppercase;
}

nav > a img {
    width: 25%;
}


/* end */

/* main */

main {
    background: #fff url("../img/bg.jpg") repeat-x;
}

main .container {
    padding: 20px 0 0 0;
}

#img_main {
    border: 1px solid #c6c6c6;
    border-radius: 7px;
    height: 342px;
    transition: all 1s ease;
}

h1 {
    font: bold 1.5em Georgia;
    color: #000;
    text-align: center;
    padding: 24px 0;
}

hr {
    border: none;
    border-top: 1px solid #e5e5e5;
}

.row {
    padding: 20px 0;
}

.row::after {
    content: "";
    display: table;
    clear: both;
}

.col {
    padding: 20px 10px;
}

h2 {
    font: 1.3em Georgia;
    color: #11719e;
}

h6 {
    font: .75em Helvetica;
    color: #8c8c8c;
}

.col > img {
    border-radius: 3px;
    border: 1px solid #e1e1e1;
    padding: 6px;
    background: #f3f3f3;
    margin: 16px 0;
}

.col_item h2 {
    color: #444;
}

p {
    font: .81em/18px Helvetica;
    color: #3e3e3e;
    margin-bottom: 20px;
}

.btn1 {
    font: .75em Helvetica;
    color: #016999;
    background: #f5f5f5;
    border: 1px solid #d8d8d8;
    padding: 12px;
    border-radius: 3px;
    width: 163px;
    text-align: left;
}

.btn1 span {
    float: right;
}

.col_item p {
    font: .75em/14px Helvetica;
    color: #444;
}

.bb {
    margin: 9px 0 13px 0;
    border-bottom: 1px dotted #d3d3d3;
}

#bold {
    font: bold 1.1em/14px Gill Sans;
    color: #444;
}

.inp {
    max-width: 294px;
    width: 100%;
    border: 1px solid #cfcfcf;
    color: #d4d4d4;
    border-radius: 3px;
    padding: 11px 0 10px 13px;
}

.btn2 {
    font: .81em Georgia;
    color: #fff;
    background: linear-gradient(to right, #4e87bf, #4e83bc, #3870aa, #2f6294, #2f6192);
    border: 1px solid #004a80;
    padding: 12px;
    border-radius: 3px;
    width: 163px;
    text-align: left;
    margin-top: 20px;
    display: block;
}

.btn2 span {
    float: right;
}

#form > input, #form > textarea {
    display: block;
    width: 100%;
    margin-bottom: 17px;
    color: #d4d4d4;
    border: 1px solid #cfcfcf;
    background: #fff;
    border-radius: 3px;
    padding: 11px 0 10px 13px;
}

#form > textarea {
    height: 132px;
}

.col_item_info img {
    margin: 0 8px 8px 0;
    padding: 5px;
    border: 1px solid #cfcfcf;
    border-radius: 4px;
    background: #f0f0f0;
    float: left;
}

.col_item_info::after {
    content: "";
    clear: both;
    display: table;
}

/* end */

footer {
    min-height: 173px;
    border-top: 10px solid #4c4c4c;
    background-color: #333;
}

#footer_nav li {
    margin: 10px 0;
}

#footer_nav li a {
    font: .68em Helvetica;
    color: #999999;
}

.col-inline {
    display: none;
}

.bb_info::after {
	content: "";
    clear: both;
    display: table;
}

@media only screen and (min-width: 768px) {
    nav {
        text-align: inherit;
    }

    nav ul {
        float: right;
        padding-top: 22px;
    }

    nav ul li {
        display: inline-block;
        border-left: 1px dotted #d6d6d6;
        padding: 0 10px 10px 10px;
    }
    .col {
        width: 33.33%;
        float: left;
    }
    .social_icon {
        padding: 0 0 20px 0;
        margin: 0 12px 0 0;
    }
    .col-inline {
        display: block;
    }
    #footer_nav li {
        display: inline-block;
        border-right: 1px solid #d4d4d4;
        padding-right: 4px;
    }
    #footer_nav li:last-child {
        border: none
    }
    .btn2 {
        margin: 0;
    }
    .inp {
        margin-bottom: 14px;
    }
}